@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body{
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
}
h1{
    font-family: 'Merriweather', serif;
    font-size: 50;
}